<div class="item-page-content">

  <ds-results-back-button *ngIf="showBackButton$ | async" [back]="back"></ds-results-back-button>

  <div class="row" *ngIf="iiifEnabled">
    <div class="col-12">
      <ds-mirador-viewer id="iiif-viewer"
                         [object]="object"
                         [searchable]="iiifSearchEnabled"
                         [query]="iiifQuery$ | async">
      </ds-mirador-viewer>
    </div>
  </div>

  <!-- Item Display Section -->
  <section class="fda-individual-item">

    <table class="table itemDisplayTable">
      <tbody>
      <!-- Dynamic fields based on collection config -->
      <ng-container *ngFor="let fieldConfig of collectionConfig.fields">

        <!-- Title field (special handling) -->
        <tr *ngIf="fieldConfig.field === 'dc.title' && hasFieldValue(fieldConfig)" class="item-title">
          <td class="metadataFieldLabel">{{getI18nKey(fieldConfig.labelKey) | translate}}:&nbsp;</td>
          <td class="metadataFieldValue">
            <h1 class="page-title">{{getFirstFieldValue(fieldConfig)}}</h1>
          </td>
        </tr>

        <!-- Authors field -->
        <tr *ngIf="fieldConfig.type === 'authors' && hasFieldValue(fieldConfig)">
          <td  class="metadataFieldLabel">
            {{getI18nKey(fieldConfig.labelKey) | translate}}:
          </td>
          <td class="metadataFieldValue">
            <ng-container *ngFor="let author of getFieldValues(fieldConfig); let last = last">
              <a [routerLink]="['/search']"
                 [queryParams]="{query: author, f_author: author + ',equals'}"
                 [title]="'Search for items by ' + author">
                {{author}}
              </a>
              <ng-container *ngIf="!last">; </ng-container>
            </ng-container>
          </td>
        </tr>

        <!-- URI fields -->
        <tr *ngIf="fieldConfig.type === 'uri' && fieldConfig.field !== 'dc.title' && hasFieldValue(fieldConfig)">
          <td class="metadataFieldLabel">{{getI18nKey(fieldConfig.labelKey) | translate}}:&nbsp;</td>
          <td class="metadataFieldValue">
            <a [href]="getFirstFieldValue(fieldConfig)" target="_blank">
              {{getFirstFieldValue(fieldConfig)}}
            </a>
          </td>
        </tr>

        <!-- Text fields (with separator for multiple values) -->
        <tr *ngIf="fieldConfig.type === 'text' && fieldConfig.field !== 'dc.title' && hasFieldValue(fieldConfig)">
          <td class="metadataFieldLabel">{{getI18nKey(fieldConfig.labelKey) | translate}}:&nbsp;</td>
          <td class="metadataFieldValue">
            <ng-container *ngIf="fieldConfig.separator; else singleValue">
              {{getFieldValues(fieldConfig).join(fieldConfig.separator)}}
            </ng-container>
            <ng-template #singleValue>
              {{getFirstFieldValue(fieldConfig)}}
            </ng-template>
          </td>
        </tr>

        <!-- Date fields -->
        <tr *ngIf="fieldConfig.type === 'date' && hasFieldValue(fieldConfig)">
          <td class="metadataFieldLabel">{{getI18nKey(fieldConfig.labelKey) | translate}}:&nbsp;</td>
          <td class="metadataFieldValue">
            {{getFirstFieldValue(fieldConfig)}}
          </td>
        </tr>

      </ng-container>

      </tbody>
    </table>
    <!-- Show Full Item Record Button -->
    <div class="container row">
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button" tabindex="0">
        {{'item.page.link.full' | translate}}
      </a>
    </div>
    <br/>
    <!-- Collections (always shown) -->
    <div class="panel panel-info">
      <div class="panel-body">
        <ds-item-page-collections [item]="object"></ds-item-page-collections>
      </div>
    </div>

    <!-- Files Panel -->
    <div class="panel panel-info">
      <div class="panel-body">
        <ds-item-page-file-section [item]="object"></ds-item-page-file-section>
      </div>
    </div>

  </section>

  <br/>

  <p class="submitFormHelp">{{'item.page.copyright' | translate}}</p>

</div>
