
<nav class="comcol-browse mb-4" aria-label="Browse Community or Collection">
  <div class="d-none d-sm-block">
   <!-- Gallatin syllabi browse by component -- hardcoded list -->
    <div class="list-group list-group-horizontal" role="tablist">
      <a class="list-group-item" [routerLink]="['/collections/' + id + '/browse/semester']">
        By Term
      </a>
       <a class="list-group-item" [routerLink]="['/collections/' + id + '/browse/dategrouped']">
        By Date Grouped
      </a>
      <a class="list-group-item" [routerLink]="['/collections/' + id + '/browse/subject']">
        By Keyword
      </a>
      <a class="list-group-item" [routerLink]="['/collections/' + id + '/browse/topic']">
        By Subject Area
      </a>
      <a class="list-group-item" [routerLink]="['/collections/' + id + '/browse/author']">
        By Instructor
      </a>
    </div>
  </div>
  <!-- LMH Todo: Mobile -->
  <div class="d-block d-sm-none">
    <select name="browse-type" class="form-control" aria-label="Browse Community or Collection" (change)="onSelectChange($event)">
      <option *ngFor="let option of allOptions$" [value]="option.id" [attr.selected]="(currentOption$ | async)?.id === option.id ? 'selected' : null">
        {{ option.label | translate }}
      </option>
    </select>
  </div>
</nav>
