:host {
  display: block;

  div.background-image-container {
    color: white;
    position: relative;
    font-weight: 400;
    background-color: var(--ds-banner-text-background);

    a {
      color: white;
      text-decoration: underline;
    }

    .background-image>img {
      background-color: var(--bs-info);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    .container {
      position: relative;

      &:before,
      &:after {
        content: '';
        display: block;
        width: var(--ds-banner-background-gradient-width);
        height: 100%;
        top: 0;
        position: absolute;
      }

      &:before {
        background-color: var(--ds-banner-text-background);
        left: calc(-1 * var(--ds-banner-background-gradient-width));

      }

      &:after {
        background-color: var(--ds-banner-text-background);
        right: calc(-1 * var(--ds-banner-background-gradient-width));
      }

      background-color: var(--ds-banner-text-background);
    }


    small.credits {
      a {
        color: inherit;
      }

      opacity: 0.3;
      position: absolute;
      right: var(--bs-spacer);
      bottom: 0;
    }
  }

  .jumbotron {
    background-color: transparent;
  }

  @media (min-width: 576px) {
    .jumbotron {
      padding: 3rem 2rem 3rem 0;
    }
  }

  a {
    color: var(--ds-home-news-link-color);

    @include hover {
      color: var(--ds-home-news-link-hover-color);
    }
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 400;
  }

  .brand {
    max-width: 55rem;
  }
}
