<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
            <h1 id="page-title" class="visually-hidden">Faculty Digital Archive at NYU</h1>
        <div class="brand">

                <p>The Faculty Digital Archive (FDA) is a highly visible repository of NYU scholarship, allowing digital works—text, audio, video, data, and more—to be reliably shared and securely stored. Collections may be made freely available worldwide, offered to NYU only, or restricted to a specific group.</p>
                <p>Full-time faculty may contribute their research—unpublished and, in many cases, published—in the FDA. Departments, centers, or institutes may use the FDA to distribute their working papers, technical reports, or other research material. <a href="/info/about" class="readmore" aria-label="Read more about the NYU Faculty Digital Archive">Read more...</a></p>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
