<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
            <h1 id="page-title" class="visually-hidden">Faculty Digital Archive at NYU</h1>
        <div class="brand">

                <p>The Faculty Digital Archive is a highly visible repository of the research, scholarship, and intellectual output of the NYU community. The repository provides stable, long-term open access to digital content produced by members of the NYU community. <a href="/info/about" class="readmore" aria-label="Read more about the NYU Faculty Digital Archive">Read more...</a></p>
          
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
