<footer class="mt-5 pt-4 pb-4 text-lg-start">
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">
        <li>
          <a routerLink="info/about" tabindex="0">About the FDA</a>
        </li>
        <li>
          <a href="https://support.nyu.edu/esc?id=kb_article&sysparm_article=KB0012311">Get Started &nbsp;<i class="fa fa-external-link fa-xs" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://www.nyu.edu/footer/accessibility.html">{{ 'footer.link.accessibility' | translate }} &nbsp;<i class="fa fa-external-link fa-xs" aria-hidden="true"></i></a>
        </li>
        <li>
          <a routerLink="info/about" fragment="rights">Rights</a>
        </li>
        <li *ngIf="showPrivacyPolicy">
          <a routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
        </li>
        <li *ngIf="showEndUserAgreement">
          <a routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
        </li>
        <li *ngIf="showSendFeedback$ | async">
          <a routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
        </li>
      </ul>
    </div>
    <div *ngIf="coarLdnEnabled$ | async" class="notify-enabled text-white">
      <a class="coar-notify-support-route" routerLink="info/coar-notify-support" role="link" tabindex="0">
        <img class="n-coar" src="assets/images/n-coar.svg" [attr.alt]="'menu.header.image.logo' | translate" />
        {{ 'footer.link.coar-notify-support' | translate }}
      </a>
    </div>
  </div>
</footer>
