// Add any global css for the FDA theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

.facet-filter,
.setting-option,
.advanced-search {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h4,
  .h4 {
    font-size: 1.1rem
  }
}

#desktop-navbar.navbar-expand {
  justify-content: space-around !important;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.comcol-browse-label {
  display: none;
}

.community-page,
.collection-page {
  .border-bottom {
    border-bottom: none !important;
  }
  .content-with-optional-title h2 {
    font-size: 1.25rem;
  }
}
.comcol-page-browse-section h3 {
  margin-top: 3rem;
}
